certifi
Flask
pymongo
Jinja2
Django
MarkupSafe
ajax
asgiref
dnspython
wheel
opencv-python
scikit-image
imutils
argparse
pytube
ssl
gunicorn
Fabric
Flask-SQLAlchemy
Flask-WTF
WTForms==2.3.3
coverage
# ecdsa
# paramiko
# pycrypto
